<div class = "container">



<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
</p>

<h2>Comments</h2>

<h2>Add comment</h2>


<div class = "row">
	<div class = "col-xs-6">
		<ul class="list-group">
		<% @article.comments.each do |comment| %>									
			<li class="list-group-item"><i><%= comment.author %> said:</i>	
			<p>
			<span class="badge"><%= comment.body %></span>	
				
			</p>
			</li>
		<% end %>
		</ul>
	</div>

	<div class = "col-xs-6">
	</div>
</div>

<div class = "row">
	<div class = "col-xs-6">
	<p>
	<%= form_for ([@article, @article.comments.build]) do |f| %>
		
		<p>
			<%= f.label :body %><br />
			<%= f.text_area :body %>
		</p>

		<p>
			<%= f.submit %>
		</p>
		
	<% end %>
	</p>
	</div>

	<div class = "col-xs-6">
	</div>	
</div>
</div>

test <%= @test %>




	
